<form method="post" action="" enctype="application/x-www-form-urlencoded" autocomplete="off" class="form">
  <div class="control">
    <h1>Spectre Admin site</h1>
  </div>
  <div class="control block-cube block-input">
    <input name="username" placeholder="Username" type="text" id="username" />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <div class="control block-cube block-input">
    <input name="password" placeholder="Password" type="password" id="password" />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>
  <button class="btn block-cube block-cube-hover" type="submit" id="login-btn">
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Log In</div>
  </button>
  <span style="color: red" id="mess"></span>
</form>