<div class="container">
  <div class="content">
    <div class="d-flex justify-content-center">
      <h1>Spectre Admin site</h1>
    </div>

    <form method="post" action="" enctype="application/x-www-form-urlencoded" autocomplete="off" class="form">





      <div class="control block-cube block-input">
        <input name="username" placeholder="Username" type="text" id="username" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <div class="control block-cube block-input">
        <input name="password" placeholder="Password" type="password" id="password" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <button class="btn block-cube block-cube-hover" type="submit" id="login-btn">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="text">Log In</div>
      </button>
      {{#if err}}
      <span style="color: red" id="mess">Đăng nhập thất bại!! Mời kiểm tra lại!!</span>
      {{/if}}
    </form>
  </div>
</div>