.table-list{
    width: 10%;
    float: left;
    display: flex;
    flex-direction: column;
}
.table-list .list-item{
    padding: 0.5rem;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}
.table-list .list-item:hover{
    background-color: #6e6e6e;
}
.content{
    float: right;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
table {
    border-spacing: 10px;
    overflow: scroll;
}